---
import childProcess from "child_process";
// import { fileURLToPath } from "url";
import FormattedDate from "./FormattedDate.astro";

const today = new Date();

const commitSHA = childProcess
  .execSync("git rev-parse --short HEAD")
  .toString()
  .trim();

const commitBranch = childProcess
  .execSync("git rev-parse --abbrev-ref HEAD")
  .toString()
  .trim();

// TODO: some way to get the import path of the current page...
// const inputFile = fileURLToPath(import.meta.url);

const lastModified = childProcess
  // .execSync(`git log -1 --pretty="format:%cI" "${inputFile}"`)
  .execSync(`git log -1 --pretty="format:%cI"`)
  .toString()
  .trim();

const lastModifiedDate = lastModified ? new Date(lastModified) : null;

// const cwd = process.cwd();
// const sourcePath = inputFile.substring(cwd.length);
// const commitURL = `https://github.com/AtoraSuunva/atora.dev/blob/${commitSHA}${sourcePath}`;
const commitURL = `https://github.com/AtoraSuunva/atora.dev/blob/${commitSHA}`;
---

<style>
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.85em;
    color: var(--nav-font);
    background-color: var(--nav-background);
    padding: 0.5em 0;
    box-shadow: var(--box-shadow-raised);
  }

  footer p {
    margin: 0.5em 0 0 0;
  }
</style>

<footer class="dark-stripes">
  <p class="muted">
    Last Commit: {
      lastModifiedDate ? (
        <FormattedDate date={lastModifiedDate} showTime={true} />
      ) : (
        "uncommitted"
      )
    }
  </p>
  <p>
    <a href={commitURL}>{commitBranch}/{commitSHA.slice(0, 7)}</a> • <a
      href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a
    >
  </p>
  <p>© {today.getFullYear()} Atora Suunva</p>
</footer>
