---
import { Font } from "astro:assets";
import { SITE_DESCRIPTION, SITE_TITLE, SITE_TITLE_TEMPLATE, SITE_COLOR } from "../consts";
import { getImage } from "astro:assets";
import FeatherSVG from "@images/feather.svg";
import FeatherPNG from "@images/feather.png";

interface Props {
  title: string;
  titleTemplate?: string;
  description?: string;
  image?: string;
  keywords?: string[];
  themeColor?: string;
}

export type HeadProps = Props;

const {
  title,
  titleTemplate = SITE_TITLE_TEMPLATE,
  description = SITE_DESCRIPTION,
  image = "/images/feather.png",
  keywords = [],
  themeColor = SITE_COLOR,
} = Astro.props;

const titleTag = titleTemplate.replace(/%s/g, title);
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const imageURL = new URL(image, Astro.url);

const faviconSvg = await getImage({
  src: FeatherSVG,
  format: "svg",
});

interface FaviconIcon {
  format: string;
  height?: number;
  width?: number;
}

function faviconIcon({ format, height, width }: FaviconIcon) {
  return getImage({
    src: FeatherPNG,
    format,
    height,
    width,
  });
}

const favicon32x32 = await faviconIcon({
  format: "png",
  height: 32,
  width: 32,
});
const favicon16x16 = await faviconIcon({
  format: "png",
  height: 16,
  width: 16,
});
const appleTouchIcon = await faviconIcon({
  format: "png",
  height: 180,
  width: 180,
});
---

{/* Important meta tags */}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>{titleTag}</title>

{/* Fonts */}
<Font cssVariable="--font-roboto" preload />
<Font cssVariable="--font-source-code-pro" />

<link rel="icon" href="/favicon/favicon.ico" />
<link rel="sitemap" href="/sitemap-index.xml" />
<link
  rel="alternate"
  type="application/rss+xml"
  title={SITE_TITLE}
  href={new URL("rss.xml", Astro.site)}
/>
<meta name="generator" content={Astro.generator} />

{/* Canonical URL */}
<link rel="canonical" href={canonicalURL} />

{/* Primary Meta Tags */}
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="keywords" content={keywords.join(", ")} />
<meta name="theme-color" content={themeColor} />

{/* Open Graph / Facebook */}
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_US" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={imageURL} />

{/* Twitter */}
<meta property="twitter:card" content="summary" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={imageURL} />
<meta property="twitter:site" content="@AtoraSuunva" />
<meta property="twitter:creator" content="@AtoraSuunva" />

{/* Favicons */}
<link rel="icon" type="image/svg+xml" href={faviconSvg.src} />
<link rel="apple-touch-icon" sizes="180x180" href={appleTouchIcon.src} />
<link rel="icon" type="image/png" sizes="32x32" href={favicon32x32.src} />
<link rel="icon" type="image/png" sizes="16x16" href={favicon16x16.src} />
<link rel="icon" sizes="32x32" href="/favicon.ico" />
<link rel="manifest" href="/manifest.json" />
