---
import Card from "@components/astro/Card.astro";
import Pagination from "@components/astro/Pagination.astro";
import PageLayout from "./PageLayout.astro";
import type { CollectionEntry } from "astro:content";
import type { Page } from "astro";

type Props = {
  page: Page<CollectionEntry<"blog">>;
  title: string;
  subtitle?: string;
};

const { page, title, subtitle } = Astro.props;
const description = `${subtitle} — Page ${page.currentPage} of ${page.lastPage}`;
---

<style>
  h2 small {
    font-size: 0.8em;
    color: var(--muted-font);
    margin-left: 0.5em;
  }
</style>

<PageLayout head={{ title, description }} subtitle={subtitle}>
  <slot name="headerTail" slot="headerTail" />

  <h2>
    Page {page.currentPage}/{page.lastPage}
    <small>({page.start + 1}‒{page.end + 1} of {page.total})</small>
  </h2>

  <Pagination page={page} />

  {
    page.data.map((post) => (
      <Card
        title={post.data.title}
        date={post.data.pubDate}
        description={post.data.description}
        link={`/blog/${post.id}`}
        tags={post.data.tags}
        linkText="Continue Reading"
        image={
          post.data.heroImage
            ? {
                src: import(/* @vite-ignore */ post.data.heroImage),
                alt: post.data.heroAlt ?? null,
              }
            : undefined
        }
      />
    ))
  }
</PageLayout>
